[submodule "lib/WiFiManager"]
	path = lib/WiFiManager
	url = https://github.com/tzapu/WiFiManager.git
[submodule "lib/ArduinoJson"]
	path = lib/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "lib/arduino-mqtt"]
	path = lib/arduino-mqtt
	url = https://github.com/256dpi/arduino-mqtt.git
[submodule "lib/OneWire"]
	path = lib/OneWire
	url = https://github.com/PaulStoffregen/OneWire.git
[submodule "lib/Arduino-Temperature-Control-Library"]
	path = lib/Arduino-Temperature-Control-Library
	url = https://github.com/milesburton/Arduino-Temperature-Control-Library.git
[submodule "lib/DHT-sensor-library"]
	path = lib/DHT-sensor-library
	url = https://github.com/adafruit/DHT-sensor-library.git
[submodule "lib/Adafruit_Sensor"]
	path = lib/Adafruit_Sensor
	url = https://github.com/adafruit/Adafruit_Sensor
[submodule "lib/Adafruit-MAX31855-library"]
	path = lib/Adafruit-MAX31855-library
	url = https://github.com/adafruit/Adafruit-MAX31855-library
[submodule "lib/Adafruit_MCP9600"]
	path = lib/Adafruit_MCP9600
	url = https://github.com/adafruit/Adafruit_MCP9600
[submodule "lib/Adafruit_HMC5883_Unified"]
	path = lib/Adafruit_HMC5883_Unified
	url = https://github.com/adafruit/Adafruit_HMC5883_Unified
[submodule "lib/Adafruit_BusIO"]
	path = lib/Adafruit_BusIO
	url = https://github.com/adafruit/Adafruit_BusIO.git
[submodule "lib/Adafruit_ADS1X15"]
	path = lib/Adafruit_ADS1X15
	url = https://github.com/adafruit/Adafruit_ADS1X15.git
[submodule "lib/Adafruit_BME280_Library"]
	path = lib/Adafruit_BME280_Library
	url = https://github.com/adafruit/Adafruit_BME280_Library.git
